{% extends 'bootstrap/base.html' %}
{% import  "bootstrap/wtf.html" as wtf %}

<html>
    <head>
    </head>
    <body>
      <div class="align-items-center bg-white border-bottom box-shadow" >
          <div class="row">
              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                  <h1 class="pt-5 pb-2">Nouvelle playlist</h1>
                  <p class="lead">Entrez le nom d'un artiste pour générer une playlist.</p>
                  {{ wtf.quick_form(form) }}
              </div>
          </div>
      </div>
    </body>
</html>
