{% import  "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %} 
{% block title %}Mes artistes favoris{% endblock %}
{% block content %} 
      
<div class="align-items-center bg-dark" style="height: 100vh;color:white;" >
  <div class="row">
      <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
          <h1 class="pt-5 pb-2">Nouvelle playlist</h1>
          <p class="lead">Sélectionnez un genre musical pour générer une playlist</p>


          <form class="form-inline"  method="POST">
              {{ form.hidden_tag() }}
              <div class="form-group">
                  {{ form.name.label(class="form-control-label")}}
                <select class="form-control" id="continent_selector" name="name">
                {% for choice in form.name.choices %}
                    <option value="{{ choice[1] }}">{{ choice[0] }}</option>
                {% endfor %}
              </select>
              </div><br/>
              <div class="form-group">
                  {{ form.nb_recos.label }} - 10 {{ form.nb_recos(min=10, max=100, oninput="outputUpdate(value)") }} 100
              </div><br/>
              <div class="form-group">
                  {{ form.popularity.label }} - 0 {{ form.popularity(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div><br/>
              <div class="form-group">
                  {{ form.danceability.label }} - 0 {{ form.danceability(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.energy.label }} - 0 {{ form.energy(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.valence.label }} - 0 {{ form.valence(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.tempo.label }} - 0 {{ form.tempo(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.speechiness.label }} - 0 {{ form.speechiness(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.acousticness.label }} - 0 {{ form.acousticness(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.instrumentalness.label }} - 0 {{ form.instrumentalness(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.liveness.label }} - 0 {{ form.liveness(min=0, max=100, oninput="outputUpdate(value)") }} 100
              </div>
              <br/>
              <div class="form-group">
                  {{ form.submit(class="btn btn-default btn-success") }}
              </div>
          </form>
          <p><i>Patientez un peu, la playlist sera disponible dans quelques secondes...</i></p>
      </div>
  </div>
</div>
{% endblock %}